<h1>Star Wars Films</h1>
<p>From the amazing SWAPI</p>

<table>
  <tr>
    <th>Episode</th>
    <th>Title</th>
    <th>Year</th>
    <th>Director</th>
    <th>Producers</th>
  </tr>
  <% @movies.each do |movie| %>
    <% movie = movie["node"] %>
    <tr>
      <td><%= movie["episodeID"] %></td>
      <td><%= link_to movie["title"], movie_path(movie["episodeID"]) %></td>
      <td><%= DateTime.strptime(movie["releaseDate"], '%Y-%m-%d').year %></td>
      <td><%= movie["director"] %></td>
      <td><%= movie["producers"].join(', ') %></td>
    </tr>
  <% end %>
</table>
