<p>Film:</p>
<h1><%= @movie["title"] %></h1>
<p>Epidose: <%= @movie["episodeID"] %> || Release date: <%= @movie["releaseDate"] %> || Director: <%= @movie["director"] %> || Producers: <%= @movie["producers"].join(', ') %></p>
<p>Opening crawl: <%= @movie["openingCrawl"] %></p>

<h3>Characters</h3>
<% @movie["characterConnection"]["characters"].each do |c| %>
  <p><%= link_to c["name"], character_path(c["id"]) %></p>
<% end %>

<h3>Planets</h3>
<% @movie["planetConnection"]["planets"].each do |p| %>
  <p><%= link_to p["name"], planet_path(p["id"]) %></p>
<% end %>

<h3>Starships</h3>
<% @movie["starshipConnection"]["starships"].each do |s| %>
  <p><%= link_to s["name"], starship_path(s["id"]) %></p>
<% end %>
