<h1><%= @character["name"] %></h1>
<p>From the amazing SWAPI</p>

<table border="1">
  <tr>
    <th>Height</th>
    <th>Mass</th>
    <th>Hair color</th>
    <th>Skin color</th>
    <th>Eye color</th>
    <th>Birth year</th>
    <th>Gender</th>
  </tr>
  <tr>
    <td><%= @character["height"] || "-" %></td>
    <td><%= @character["mass"] || "-" %></td>
    <td><%= @character["hairColor"] || "-" %></td>
    <td><%= @character["skinColor"] || "-" %></td>
    <td><%= @character["eyeColor"] || "-" %></td>
    <td><%= @character["birthYear"] || "-" %></td>
    <td><%= @character["gender"] || "-" %></td>
  </tr>
</table>

<h3>Homeworld</h3>
<p><%= link_to @character["homeworld"]["name"], planet_path(@character["homeworld"]["id"]) %></p>

<h3>Films</h3>
<% @character["filmConnection"]["films"].each do |f| %>
  <p><%= link_to f["title"], movie_path(f["episodeID"]) %></p>
<% end %>
<% if @character["filmConnection"]["films"].length == 0 %>
  <p>None.</p>
<% end %>

<h3>Starships</h3>
<% @character["starshipConnection"]["starships"].each do |s| %>
  <p><%= link_to s["name"], starship_path(s["id"]) %></p>
<% end %>
<% if @character["starshipConnection"]["starships"].length == 0 %>
  <p>None.</p>
<% end %>
